<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.developer.annant.gopaltyres">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".Extras_imp.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name="com.google.android.gms.ads.AdActivity" />

        <activity
            android:name=".Drawer_Activities.FeedbackDrawerActivity"
            android:label="Feedback"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FeedbackTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".Drawer_Activities.ContactUsDrawerActivity"
            android:label="Contact US"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ContactUsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".Drawer_Activities.ShopInfoDrawerActivity"
            android:label="Shop Info"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ShopTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".Drawer_Activities.ShopImageDrawerActivity"
            android:label="Shop Image "
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />


        </activity>

        <activity
            android:name=".Drawer_Activities.AboutDeveloperDrawerActivity"
            android:label="About Developer"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>
    </application>

</manifest>